#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
OTHER_LDFLAGS = $(inherited) -Wl,-u,_mirushin_seek_thumbnail_decode -Wl,-u,_mirushin_seek_thumbnail_free -Wl,-u,_mirushin_seek_thumbnail_session_create -Wl,-u,_mirushin_seek_thumbnail_session_reset_cancel -Wl,-u,_mirushin_seek_thumbnail_session_open -Wl,-u,_mirushin_seek_thumbnail_session_decode -Wl,-u,_mirushin_seek_thumbnail_session_cancel -Wl,-u,_mirushin_seek_thumbnail_session_destroy -Wl,-u,_mirushin_seek_thumbnail_output_size
